@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: var(--font-montserrat);
  --font-secondary: var(--font-pt-serif);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-primary), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-secondary), serif;
}

code {
  font-family: var(--font-mono), monospace;
}